@using Lab4.Models
@model Student

@{
    ViewData["Title"] = "Display Student";
}

<h2>Your Favorite Student</h2>
<p>First Name: @Model.FirstName</p>
<p>Last Name: @Model.LastName</p>
<p>Student ID: @Model.StudentId</p>
<p>Email Address: @Model.EmailAddress</p>
<p>Description: @Model.Description</p>
